/* Scroll suave */
html {
    scroll-behavior: smooth;
}

/* Personalización de la Navbar */
.navbar {
    padding: 15px;
}

/* Estilos del logo */
.navbar-brand img {
    border-radius: 8px;
}

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    display: none;
    position: absolute;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

/* Ajustar tamaño de las imágenes del carrusel */
.carousel img {
    height: 400px; /* Ajusta según necesidad */
    width: 400px;
    object-fit: cover;
}

/* Ajustar margen en móvil */
@media (max-width: 991px) {
    .navbar-nav {
        text-align: center;
    }

    .d-flex {
        flex-direction: column;
        gap: 10px;
    }
}

.card {
    margin-bottom: 20px;
}
.card img {
    height: 200px;
    object-fit: cover;
}

/* Asegurar que el footer esté al final de la página */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.pagination .page-link {
    color: #000; /* Cambia el color según tu diseño */
}
.pagination .page-item.active .page-link {
    background-color: #007bff; /* Color de la página activa */
    border-color: #007bff;
}
